@import '~../../node_modules/bootstrap/dist/css/bootstrap.css';


.container { 
    display: flex;
    width: 85%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;

    flex-flow: column wrap;
    flex-grow: 1;
}

.sidebar-header { 
    display: flex; 
    flex: flex-flow wrap;
    border-bottom: 1px solid white; 

    width: 250px; 
    min-width: 80px;
    

    padding: 2px;
    margin: 15px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    
}

.sidebar { 
    display: flex;
    flex-flow: column wrap;
    width: 250px; 
    min-width: 80px;

    padding: 2px;
    height: 100vh;
    min-height: 400px;
    left: -1px;
    top: -4px;

    overflow: hidden;
}

.sidebar-menu { 
    background: black; 
    color: white;
}

.sidebar-menuitem:hover { 
    background: white;
    color: black;
}

.header { 
    display: flex;
    flex-flow: column wrap;

    padding: 2px;
    height: 80px; 
    width: 75vw;

    background: black; 
    color: white;

    border-bottom: 1px solid white;

}

.outlet { 
    display: flex;
    flex-flow: column wrap;
    position: absolute;

    padding: 2px;

    height: 88vh;
    width: 100vw; 
    left: 250px;
    top: 80px;

    overflow: hidden;

    background: black;
    color: white;

    

}

.footer { 
    display: flex;
    flex-flow: column wrap;

    padding: 2px;
    height: 40px;
    min-height: 25px;

    width: 100vw;
    text-align: start;
    left: 250px;

    position: absolute;
    bottom: 8px;

    background: black;
    color: white;
/* 
    border-top: 1px solid white; */

}

.nav-item { 
    color: #ddd;
}

.nav-item:visited { 
    color: #ddd;
}

.nav-item:hover { 
    color: white;
}

.nave-item:active { 
    color:goldenrod;
}